<section class="text-center">
	<h3>Consulta de Dep&oacute;sitos</h3>

	<form class="form-horizontal" id="formListaDeposito" name="formListaDeposito" ng-submit="pesquisaDeposito()" novalidate>

		<div class="form-group">
			<div class="alert alert-danger" role="alert" ng-show="isExibirMensagemErro" >
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span>{{mensagem}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-3" for="idGrupoEconomico">Grupo:*</label>
	
			<div class="col-xs-6">
				<select id="idGrupoEconomico" class="form-control" ng-model="filtroDeposito.grupoEconomico" ng-change="carregaEmpresa()"
						ng-options="grupoEconomico as grupoEconomico.nome for grupoEconomico in listaGrupoEconomico" >
					<option value="">Selecione um grupo...</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-3" for="idTipoServico">Empresa:*</label>
			
			<div class="col-xs-6">
				<select id="idTipoServico" class="form-control" ng-model="filtroDeposito.empresa" ng-change="carregaCofre()"
				ng-options="empresa as empresa.razaoSocial for empresa in listaEmpresa" ng-required="true">
					<option value="">Selecione uma empresa...</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-3" for="idTipoCredito">Id do Equipamento:*</label>

			<div class="col-xs-6">
				<select id="idTipoCredito" class="form-control" ng-model="filtroDeposito.cofre" ng-required="true"
						ng-options="cofre as cofre.idEquipamento for cofre in listaCofre" >
					<option value="">Selecione um Id de Equipamento...</option>
				</select>
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-offset-sm-3 col-sm-3 control-label" for="data-inicial">Data Inicial:*</label>
			<div class="col-sm-2">
				<input id="data-inicial" class="form-control" moment-picker="dataInicialFormatada" locale="pt-br" max-date="maxData" min-date="minData" max-view="month" min-view="month" start-view="month" ng-model="dataInicial" format="DD/MM/YYYY" maxlength="10" ng-required="true" autocomplete="off"/>
			</div>
			<label class="col-sm-2 control-label" for="data-final">Data Final:*</label>
			<div class="col-sm-2">
				<input id="data-final" class="form-control" moment-picker="dataFinalFormatada" locale="pt-br" max-date="maxData" min-date="minData" max-view="month" min-view="month" start-view="month" ng-model="dataFinal" format="DD/MM/YYYY" maxlength="10" ng-required="true" autocomplete="off"/>
			</div>
		</div>
		
		<!--Botões Pesquisa/Exportar-->
		<div class="form-group">
            <div class="col-xs-3"></div>
            <div class="col-xs-3">
                <input type="submit" id="pesquisaDeposito" class="btn btn-verde btn-lg btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Pesquisando" value="{{textPesquisa}}"/>
            </div>
            <div class="col-xs-3">
                <input type="button" ng-click="exportar()" class="btn btn-verde btn-lg btn-block" value="Exportar"/>
            </div>
        </div>

		<div class="form-group">
			<div class="col-xs-1">
			</div>

			<div class="col-xs-9">
				<table class="table table-stripped table-hover">
					<thead>
						<tr class="cabecalho">
							<!-- <th class="text-center texto-branco"><h4>Grupo</h4></th>-->
							<th class="text-center texto-branco"><h4>Empresa</h4></th>
							<th class="text-center texto-branco"><h4>Equipamento</h4></th>
							<th class="text-center texto-branco"><h4>CNPJ</h4></th>
							<th class="text-center texto-branco"><h4>Data Dep&oacute;sito</h4></th>
							<th class="text-center texto-branco"><h4>Depositante</h4></th>
							<th class="text-center texto-branco"><h4>Sequência</h4></th>
							<th class="text-center texto-branco"><h4>Valor Dep&oacute;sito</h4></th>
							<th class="text-center texto-branco"><h4>Tipo de Dep&oacute;sito</h4></th>
							<th class="text-center texto-branco"><h4>Fechamento</h4></th>
							<th class="text-center texto-branco"><h4>Id do Equipamento</h4></th>
						</tr>
					</thead>
	
					<tbody>
						<tr ng-repeat="deposito in listaDeposito.slice(((pag_paginaSelecionada-1)*pag_registrosPorPagina), (pag_paginaSelecionada*pag_registrosPorPagina))">
							<!--<td class="text-center">{{deposito.grupoEconomico}}</td>-->
							<td class="text-center">{{deposito.empresa}}</td>
							<td class="text-center">{{deposito.equipamento}}</td>
							<td class="text-center">{{deposito.cnpj | cnpj}}</td>
							<td class="text-center">{{deposito.DepositoDT}}</td>
							<td class="text-center">{{deposito.depositante}}</td>
							<td class="text-center">{{deposito.sequencia}}</td>
							<td class="text-center">{{deposito.ValorTotal}}</td>
							<td class="text-center">{{deposito.TipoDeposito}}</td>
							<td class="text-center">{{deposito.fechamento}}</td>
							<td class="text-center">{{deposito.EquipamentoID}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="col-sm-offset-2 col-sm-8">
			<ul ng-show="paginacao" uib-pagination
				class="pagination"
				rotate="false"
				boundary-link-numbers="true"
				
				previous-text="&lsaquo;" 
				next-text="&rsaquo;" 
				first-text="&laquo;" 
				last-text="&raquo;"						
				
				ng-disabled="pag_desabilitado"
				max-size="pag_tamanho"
				items-per-page="pag_registrosPorPagina"
				total-items="pag_totalRegistros"
				ng-model="pag_paginaSelecionada"
				ng-change="mudaPagina()">
			</ul>
			<input type="button" ui-sref="homeNumerario" class="btn btn-verde btn-lg pull-right margin-top-10" value="Voltar" />
			
		</div>
		</div>
	</form>
</section>
