<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Recebimentos Futuros</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="alert alert-danger text-center" role="alert" ng-show="isExibirMensagemErro" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span>{{mensagemErro}}</span>
                </div>
            </div>
        </div>
    </div>

    <script ng-if="tableauToken && empFilter" type='text/javascript' src='https://tableau.accesstage.com.br/javascripts/api/viz_v1.js'></script>
    <object ng-if="tableauToken && empFilter" class='tableauViz' width='100%' height='{{ tableauHeight }}' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau.accesstage.com.br%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value='&#47;t&#47;brinks'/>
        <param name="ticket" value="{{tableauToken}}" />
        <param ng-if="maquina == 'dev.accesstage.com.br' || maquina == 'localhost'" name='name' value='Brinks_dev_recebimentos_futuros&#47;PaineldeRecebimentosFuturos'/>
        <param ng-if="maquina == 'homolog.accesstage.com.br'" name='name' value='HMLBrinksRecebimentosFuturos&#47;PaineldeRecebimentosFuturos' />
        <param ng-if="maquina == 'app.trustion.com.br'" name='name' value='BrinksRecebimentosFuturos&#47;PaineldeRecebimentosFuturos' />
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='showAppBanner' value='false'/>
        <param name='filter' value='iframeSizedToWindow=true'/>
        <param name='filter' value='{{empFilter}}' />
    </object>
</div>