<section class="text-center">
	<h3>Ocorr&ecirc;ncia</h3>

	<form class="form-horizontal" id="formOcorrencia" name="formOcorrencia">
		<div class="form-group">
			<div class="alert alert-danger" role="alert" ng-show="isExibirMensagemErro" >
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span>{{mensagemErro}}</span>
			</div>
		</div>
	</form>
	
	<div class="form-group">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-7">
				<table cellspacing="0">
					<tbody>
						<tr>
							<td class="col-xs-3 text-left"><b>Transportadora: </b></td>
							<td class="text-left">{{ocorrencia.nmeTransportadora}}</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-left"><b>Modelo de Neg&oacute;cio: </b></td>
							<td class="text-left">{{ocorrencia.modeloNegocio}}</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-left"><b>Empresa: </b></td>
							<td class="text-left">{{ocorrencia.empresa}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-12">
				<table ng-if="!ocorrencia.isOcorrenciaD1" class="table table-bordered" class="table table-striped table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr class="cabecalho">
							<th class="text-center texto-branco"><h5>Ocorr&ecirc;ncia</h5></th>							
							<th class="text-center texto-branco"><h5>Valor Registrado Cofre</h5></th>
							<th class="text-center texto-branco"><h5>Data do Cr&eacute;dito</h5></th>
							<th class="text-center texto-branco"><h5>Valor Creditado em Conta</h5></th>						
							<th class="text-center texto-branco"><h5>Diferen&ccedil;a</h5></th>			
							<th class="text-center texto-branco"><h5>Valor de Ajuste</h5></th>					
							<th class="text-center texto-branco"><h5>Status da Concilia&ccedil;&atilde;o</h5></th>
							<th ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center texto-branco"><h5>Resumo da Ocorr&ecirc;ncia</h5></th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-center">{{ocorrencia.idOcorrencia}}</td>							
							<td class="text-center">
								<a ng-if="ocorrencia.isValorRegistradoCofreLink" ng-click="modalDetalheRelatorio()">{{ocorrencia.valorRegistradoCofre | realbrasileiro}} </a>
								<span ng-if="!ocorrencia.isValorRegistradoCofreLink">{{ocorrencia.valorRegistradoCofre | realbrasileiro}}</span>
							</td>
							<td class="text-center">{{ocorrencia.dataCredito | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td class="text-center">{{ocorrencia.valorCreditadoConta | realbrasileiro}}</td>							
							<td class="text-center">{{ocorrencia.valorCreditadoConta - ocorrencia.valorRegistradoCofre   | realbrasileiro}}</td>						
							<td class="text-center">{{ocorrencia.valorAjuste | realbrasileiro}}</td>
							<td class="text-center">{{ocorrencia.statusConciliacao}}</td>
							<td ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center"><a ng-click="downloadResumoOcorrencia()">{{ocorrencia.arquivoResumoOcorrencia}}</a></td>
						</tr>
					</tbody>
				</table>

				<table ng-if="ocorrencia.isOcorrenciaD1" class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr class="cabecalho">
							<th class="text-center texto-branco"><h5>Ocorr&ecirc;ncia</h5></th>
							<th class="text-center texto-branco"><h5>Data da Coleta</h5></th>
							<th class="text-center texto-branco"><h5>Valor Declarado</h5></th>
							<th class="text-center texto-branco"><h5>Data de Cr&eacute;dito</h5></th>
							<th class="text-center texto-branco"><h5>Valor Creditado em Conta</h5></th>
							<th class="text-center texto-branco"><h5>Valor Conferido</h5></th>
							<th class="text-center texto-branco"><h5>Diferen&ccedil;a</h5></th>
							<th class="text-center texto-branco"><h5>Valor de Ajuste</h5></th>
							<th class="text-center texto-branco"><h5>Status da Concilia&ccedil;&atilde;o</h5></th>
							<th ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center texto-branco"><h5>Resumo da Ocorr&ecirc;ncia</h5></th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-center">{{ocorrencia.idOcorrencia}}</td>
							<td class="text-center">{{ocorrencia.dataConferencia | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td class="text-center">{{ocorrencia.valorColeta | realbrasileiro}}</td>
							<td class="text-center">{{ocorrencia.dataCredito | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td class="text-center">{{ocorrencia.valorCreditadoConta | realbrasileiro}}</td>							
							<td class="text-center">{{ocorrencia.valorConferido | realbrasileiro}}</td>
							<td class="text-center">{{ocorrencia.valorCreditadoConta - ocorrencia.valorColeta  | realbrasileiro}}</td>
							<td class="text-center">{{ocorrencia.valorAjuste | realbrasileiro}}</td>
							<td class="text-center">{{ocorrencia.statusConciliacao}}</td>
							<td ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center"><a ng-click="downloadResumoOcorrencia()">{{ocorrencia.arquivoResumoOcorrencia}}</a></td>
						</tr>
					</tbody>
				</table>

				<input type="button" ng-if="!ocorrencia.concluido" class="btn btn-verde btn-lg" ng-click="modalUploadEvidencia()" value="Evid&ecirc;ncia" />
				<input type="button" ng-if="ocorrencia.concluido" class="btn btn-verde btn-lg" disabled value="Evid&ecirc;ncia" />							
				<input type="button" class="btn btn-verde btn-lg" ng-click="callModalMescla()" value="Mesclar Ocorr&ecirc;ncia" />				
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
	<div  class="row" style="margin-top:60px;">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<span class="text-left col-xs-4"><b>Registro de Atividades:</b></span>
			<table id="exportthis" class="table table-bordered" class="table table-striped table-condensed" class="table table-responsive" cellspacing="0" width="100%">
				<thead>
					<tr class="cabecalho">
						<th class="text-center texto-branco"><h5>Usu&aacute;rio</h5></th>
						<th class="text-center texto-branco"><h5>Data / Hor&aacute;rio</h5></th>
						<th class="text-center texto-branco"><h5>Atividade</h5></th>
						<th class="text-center texto-branco"><h5>Respons&aacute;vel</h5></th>
						<th class="text-center texto-branco"><h5>Status da Ocorr&ecirc;ncia</h5></th>
						<th class="text-center texto-branco"><h5>A&ccedil;&atilde;o</h5></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="atividade in listaAtividade">
						<td class="text-center">{{atividade.usuario}}</td>
						<td class="text-center">{{atividade.dataHorario | date:'dd/MM/yyyy HH:mm:ss'}}</td>
						<td class="text-center">{{atividade.atividade}}</td>
						<td class="text-center">{{atividade.responsavel}}</td>
						<td class="text-center">{{atividade.statusOcorrencia}}</td>
						<td class="text-center">
							<button class="btn btn-verde btn-sm"
								ng-click="modalAcao(atividade)"
								ng-if="atividade.statusOcorrencia != '3 - Aguardando Aprovação' &&  !atividade.atividadeMescla"
								ng-disabled="ocorrencia.concluido || !atividade.habilitado">
								<span class="glyphicon  glyphicon-share-alt" aria-hidden="true"></span>
							</button>
							<button class="btn btn-verde btn-sm"
								ng-click="modalAprovacao(atividade)"
								ng-if="atividade.statusOcorrencia == '3 - Aguardando Aprovação' &&  !atividade.atividadeMescla"
								ng-disabled="ocorrencia.concluido || !atividade.habilitado">
								<span class="glyphicon  glyphicon-share-alt" aria-hidden="true"></span>
							</button>
							<button class="btn btn-verde btn-sm"
								ng-click="modaAprovarMescla(atividade)"
								ng-if="atividade.atividadeMescla"
								ng-disabled="ocorrencia.concluido || !atividade.habilitado">
								<span class="glyphicon  glyphicon-share-alt" aria-hidden="true"></span>
							</button>
							<button class="btn btn-verde btn-sm" style="margin-top: 10px;"
								ng-click="downloadArquivo(atividade.idAtividade)"
								ng-if="atividade.tipoAtividade == 'A' && atividade.habilitado">
								<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			<input type="button" ui-sref="listaOcorrencia" class="btn btn-verde btn-lg pull-right margin-top-10 margin-bottom-10" value="Voltar"/>
		</div>
	</div>
</section>
