<div class="modal-header background-verde">
	<h3 class="modal-title" id="modal-titulo">Observa&ccedil;&atilde;o</h3>
</div>

<div class="modal-body" id="modal-body">
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
				<textarea style="width: 564px" type="text" rows="5" maxlength="300" id="idObservacoes" class="form-control" ng-model="observacao" disabled></textarea>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
    <button class="btn btn-vermelho" type="button" ng-click="cancelar()">Cancelar</button>
</div>