<div class="modal-header background-verde">
	<h3 class="modal-title" id="modal-titulo">Mesclar Ocorr&ecirc;ncia</h3>
</div>
</br>
<div class="form-group">
	<div class="alert alert-success" role="alert" ng-show="isExibirMensagemSucesso" >
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>		
		<span>{{messagemSucessoMescla}}</span>
	</div>
</div>
<div class="form-group">
	<div class="alert alert-danger" role="alert" ng-show="isExibirMensagemErro" >
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span>{{messagemErroMescla}}</span>
	</div>
</div>

<div class="modal-body" style="padding:20px 100px 20px 100px;" id="modal-body">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-lg-50">
			<table ng-if="!isOcorrenciaD1" class="table table-bordered" class="table table-striped table-condensed" cellspacing="0" width="100%">
				<thead>
					<tr class="cabecalho">
						<th style="background-color: #fff;"><!--input type="checkbox" ng-model="isOcorrenciaSelected" ng-init="isOcorrenciaSelected=false" ng-click="selecionarTodasOcorrencias()"/--> </th>
						<th class="text-center texto-branco"><h5>Ocorr&ecirc;ncia</h5></th>							
						<th class="text-center texto-branco"><h5>Valor Registrado Cofre</h5></th>
						<th class="text-center texto-branco"><h5>Data do Cr&eacute;dito</h5></th>
						<th class="text-center texto-branco"><h5>Valor Creditado em Conta</h5></th>						
						<th class="text-center texto-branco"><h5>Diferen&ccedil;a</h5></th>			
						<th class="text-center texto-branco"><h5>Valor de Ajuste</h5></th>					
						<th class="text-center texto-branco"><h5>Status da Concilia&ccedil;&atilde;o</h5></th>
						<!-- <th ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center texto-branco"><h5>Resumo da Ocorr&ecirc;ncia</h5></th> -->
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="ocorrencia in listaOcorrencias">
						<td class="text-center"> <input type="checkbox" ng-disabled="ocorrencia.valorCreditadoConta - ocorrencia.valorRegistradoCofre  >= 0 " ng-model="ocorrencia.isOcorrenciaSelected" ng-value="ocorrencia.isOcorrenciaSelected" ng-checked="ocorrencia.isOcorrenciaSelected" ng-change="calcularDiferenca($index)" /> </td>							
						<td class="text-center">{{ocorrencia.idOcorrencia}}</td>							
						<td class="text-center">
							<a ng-if="ocorrencia.isValorRegistradoCofreLink" ng-click="modalDetalheRelatorio()">{{ocorrencia.valorRegistradoCofre | realbrasileiro}} </a>
							<span ng-if="!ocorrencia.isValorRegistradoCofreLink">{{ocorrencia.valorRegistradoCofre | realbrasileiro}}</span>
						</td>
						<td class="text-center">{{ocorrencia.dataCredito | date:'dd/MM/yyyy HH:mm:ss'}}</td>
						<td class="text-center">{{ocorrencia.valorCreditadoConta | realbrasileiro}}</td>							
						<td class="text-center">{{ocorrencia.valorCreditadoConta - ocorrencia.valorRegistradoCofre    | realbrasileiro}}</td>						
						<td class="text-center">{{ocorrencia.valorAjuste | realbrasileiro}}</td>
						<td class="text-center">{{ocorrencia.statusConciliacao}}</td>
					</tr>
				</tbody>
			</table>
			<table ng-if="isOcorrenciaD1" class="table table-bordered" class="table table-striped table-condensed" cellspacing="0" width="100%">
				<thead>
					<tr class="cabecalho">
						<th style="background-color: #fff;"><!--input type="checkbox" ng-model="isOcorrenciaSelected" ng-init="isOcorrenciaSelected=false" ng-click="selecionarTodasOcorrencias()"/--> </th>
						<th class="text-center texto-branco"><h5>Ocorr&ecirc;ncia</h5></th>							
						<th class="text-center texto-branco"><h5>Data da coleta</h5></th>
						<th class="text-center texto-branco"><h5>Valor Declarado</h5></th>
						<th class="text-center texto-branco"><h5>Data do Cr&eacute;dito</h5></th>						
						<th class="text-center texto-branco"><h5>Valor Cr&eacute;ditado</h5></th>			
						<th class="text-center texto-branco"><h5>Valor Conferido</h5></th>	
						<th class="text-center texto-branco"><h5>Diferen&ccedil;a</h5></th>	
						<th class="text-center texto-branco"><h5>Valor de Ajuste</h5></th>					
						<th class="text-center texto-branco"><h5>Status da Concilia&ccedil;&atilde;o</h5></th>
						<!-- <th ng-if="ocorrencia.exibirArqResOcorrencia" class="text-center texto-branco"><h5>Resumo da Ocorr&ecirc;ncia</h5></th> -->
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="ocorrencia in listaOcorrencias">
						<td class="text-center"> <input type="checkbox" ng-disabled="ocorrencia.valorCreditadoConta - ocorrencia.valorColeta >= 0 " ng-model="ocorrencia.isOcorrenciaSelected" ng-value="ocorrencia.isOcorrenciaSelected" ng-checked="ocorrencia.isOcorrenciaSelected"  ng-click="calcularDiferenca($index)" /> </td>							
						<td class="text-center">{{ocorrencia.idOcorrencia}}</td>							
						<td class="text-center">{{ocorrencia.dataColeta | date:'dd/MM/yyyy HH:mm:ss'}}</td>
						<td class="text-center">{{ocorrencia.valorColeta | realbrasileiro}}</td>
						<td class="text-center">{{ocorrencia.dataCredito | date:'dd/MM/yyyy HH:mm:ss'}}</td>
						<td class="text-center">{{ocorrencia.valorCreditadoConta | realbrasileiro}}</td>							
						<td class="text-center">{{ocorrencia.valorConferido | realbrasileiro}}</td>
						<td class="text-center">{{ocorrencia.valorCreditadoConta - ocorrencia.valorColeta  | realbrasileiro}}</td>												
						<td class="text-center">{{ocorrencia.valorAjuste | realbrasileiro}}</td>
						<td class="text-center">{{ocorrencia.statusConciliacao}}</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	<div class="row">
			<div class="col-xs-3">
				<label class="control-label">Observa&ccedil;&atilde;o:</label>
				<div class="input-group">
					<textarea style="width: 300px" type="text" rows="3" maxlength="300" id="mensagem" class="form-control" ng-model="observacao"></textarea>
				</div>
			</div>
			<div class="col-xs-3">
				<label style="margin-left: 150px;">Total da Diferen&ccedil;a:</label>
				<div class="col-xs-3">
						<input class="form-group" type="text"  maxlength="300"  class="form-control" ng-model="totalDiferenca" ng-value=" totalDiferenca | realbrasileiro" style="margin-left: 135px;" disabled />
					</div>
			</div>
			<div class="col-xs-3">
					<label style="margin-left: 180px;">Saldo da Ocorr&ecirc;ncia:</label>
					<div class="col-xs-3">
						<input class="form-group" type="text"  maxlength="300"  class="form-control" ng-model="saldo" ng-value=" saldo | realbrasileiro" disabled style="margin-left: 165px;" />
					</div>
				</div>
	</div>
</div>

<div class="modal-footer">
	<button id="btnSalvar" class="btn btn-verde" type="button" ng-click="salvar()">Salvar</button>
	<!-- <button class="btn btn-verde" type="button" ng-click="desmesclar()" ng-if="habilitaDesmescla">Salvar</button> -->
    <button class="btn btn-vermelho" type="button" ng-click="cancelar()">Cancelar</button>
</div>
