<section class="text-center">
	<h3>Motivo da Conclusão</h3>

	<form class="form-horizontal" id="formMotivoConclusao" ng-submit="pesquisarPorCriterios()">
		<div class="form-group">
			<label class="control-label col-xs-3" for="idDescricao">Descrição:</label>

			<div class="col-xs-6">
				<input class="form-control" type="text" id="idDescricao" ng-model="filtroTipoMotivoConclusao.descricao" maxlength="100"/>
			</div>
		</div>
	
		<div class="form-group">
			<div class="col-xs-3">
			</div>

			<div class="col-xs-3">
				<input type="button" ui-sref="cadastroMotivoConclusao" class="btn btn-verde btn-lg btn-block" value="Novo"/>
			</div>
			
			<div class="col-xs-3">
				<input type="submit" class="btn btn-verde btn-lg btn-block" value="Pesquisar"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-1">
			</div>

			<div class="col-xs-9">
				<table class="table table-stripped table-hover">
					<thead>
						<tr class="cabecalho">
							<th class="text-center texto-branco"><h4>Descrição</h4></th>
							<th class="text-center texto-branco editar"></th>
						</tr>
					</thead>
	
					<tbody>
						<tr ng-repeat="motivoConclusao in listaTipoMotivoConclusao">
							<td class="text-center">{{motivoConclusao.descricao}}</td>
							<td class="text-center">
								<button ui-sref="cadastroMotivoConclusao({idMotivoConclusao : motivoConclusao.idTipoMotivoConclusao})" 
										class="btn btn-verde" >
		
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-1">
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-8">
				<div>
					<ul ng-show="paginacao" uib-pagination
						class="pagination"
						rotate="false"
						boundary-link-numbers="true"
						
						previous-text="&lsaquo;" 
						next-text="&rsaquo;" 
						first-text="&laquo;" 
						last-text="&raquo;"						
						
						ng-disabled="pag_desabilitado"
						max-size="pag_tamanho"
						items-per-page="pag_registrosPorPagina"
						total-items="pag_totalRegistros"
						ng-model="pag_paginaSelecionada"
						ng-change="carregarMotivosConclusaoPorPagina()">
					</ul>
					<input type="button" ui-sref="home" class="btn btn-verde btn-lg pull-right margin-top-10" value="Voltar" />
				</div>
			</div>
		</div>
	</form>
</section>